DATABASE_URL="mongodb+srv://devfusion:hackathon2026@cluster0.mongodb.net/ats_ai_db?retryWrites=true&w=majority"
JWT_SECRET="devfusion_ats_ai_hackathon_super_secret_jwt_key_2026"
GEMINI_API_KEY="your_gemini_api_key_here"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
